body {
    height: 100vh;
    background: linear-gradient(160deg, rgb(153, 153, 242), rgb(178, 230, 178)  ) ;
}

.container {
    margin-top: 40px;
}

header {
    padding: 20px;
    color: black
}


.error {
    background-color: rgb(236, 163, 163);
    border-radius: 5px;
}

.pending {
    background-color: aquamarine;
    border-radius: 5px;
}

img {
    width: 30%;
    min-width: 150px;
}

.weather-detailes {
    font-size: 30px;
    max-height: 20%;
    margin-top: -25px;
}

.life-style-icons {
    width: 10%;
    min-width: 100px;
}

.red {
  background-color: rgb(231, 86, 86);
  border-radius: 5px;
}

.green {
    background-color: rgb(159, 235, 45);
    border-radius: 5px;
}
.yellow {
    background-color: yellow;
    border-radius: 5px;
}